/*
.MuiSelect-select {
    height: 1rem !important;
}

.MuiInputLabel-root {
    padding: 2px !important;
}
*/

.stupidAssCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 204, 255, 0.4);
    }

    70% {
        box-shadow: 0 0 0 50px rgba(0, 204, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 204, 255, 0);
    }
}

.playerIcon {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: orange;
    border: 3px solid white;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 204, 255, 0.4);
    animation: pulse 2s infinite;
}

.undiscoveredLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: orange;
    background: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 204, 255, 0.4);
    animation: pulse 4s infinite;
}

.undiscoveredLocation:hover {
    animation: none;
}

.undiscoveredLocation::before {
    content: "?";
}