/*
.MuiSelect-select {
    height: 1rem !important;
}

.MuiInputLabel-root {
    padding: 2px !important;
}
*/

.stupidAssCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pulseIcon {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: orange;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 204, 255, 0.4);
    animation: pulse 3s infinite;
  }
  
  .pulseIcon:hover {
    animation: none;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 204, 255, 0.4);
    }
  
    70% {
      box-shadow: 0 0 0 50px rgba(0, 204, 255, 0);
    }
  
    100% {
      box-shadow: 0 0 0 0 rgba(0, 204, 255, 0);
    }
  }

  .playerIcon {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 204, 255, 0.4);
    animation: pulse 3s infinite;
  }